


<div class="mainForm" >

<div class="row" style="line-height: 46px;margin-left:5%;">
  <div class="col-md-4">
    <div style=""><!-- content -->
         <p style="color: #FFA104;font-family: raleway, sans-serif;font-size: 38px;font-weight: 300;letter-spacing: 1px;">CONTACT US</p>
         <div style="margin-top:50px;"><!-- content -->
         <p>LET'S TALK ABOUT IT</p>
        </div>
        <div style="margin-top:50px; font-family: raleway, sans-serif;font-size: 38px;"><!-- content -->
         <p>Get started on the path to your ultimate vision right now. Contact us for more information on how we can create an environment perfect for you.</p>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
         <p>ADDRESS: Rua Luis Manuel da Silva, 12 1º Dto 4715-247 Lamaçães</p>
         <p>&nbsp;</p>
         <p>PHONE: +351 91 203 15 48</p>
        </div>
        
        </div>



  </div>
  <div class="col-md-1">
    
  </div>
  <div class="col-md-7" >
  <form class="form-horizontal" >

  <div class="form-group" >
    
    <div class="col-sm-8">
      <input type="text" class="form-control " id="nomecliente" placeholder="Nome" data-toggle="popover" title="Campo Obrigatório" data-content="Por favor preencha este campo com o seu nome!" data-placement="left">
    </div>
    </div>

   <div class="form-group">
    
    <div class="col-sm-8">
      <input type="text" class="form-control" id="tlmcliente" placeholder="Telf/Telm" data-toggle="popover" title="Campo Obrigatório" data-content="Por favor preencha este campo com o seu contacto!" data-placement="left">
    </div>
    </div>
     
  <div class="form-group">
    
    <div class="col-sm-8">
      <input type="email" class="form-control" id="emailcliente" placeholder="Email" data-toggle="popover" title="Campo Obrigatório" data-content="Por favor preencha este campo com o seu email!" data-placement="left">
    </div>
  </div>
  <div class="form-group" >
   
    <div class="col-sm-8">
      <input type="text" class="form-control" id="assunto" placeholder="Assunto" data-toggle="popover" title="Campo Obrigatório" data-content="Por favor preencha este campo com o assunto relativo à sua visita!" data-placement="left">
    </div>
  </div>
  <div class="form-group">
  
    <div class="col-sm-8">
      <textarea id="descricao" class="form-control" rows="5" placeholder="Descrição" data-toggle="popover" title="Campo Obrigatório" data-content="Por favor preencha este campo com a descrição relativa à sua visita!" data-placement="left"></textarea>

    </div>
  </div>
 
 
</form>
 
    <div class="">
        <button id="mail" class="btn btn-default" style="background-color:black; color:#FFA104">Submit</button>
    </div>



  </div>
</div>







</div>




 
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:black">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
       
        <h4 class="modal-title" id="myModalLabel">Parabéns!!!</h4>

      </div>
      <div class="modal-body" >
       <p> Caro(a) <span id="user" style="color:black"></span> </p>
       <p>A sua visita foi registada com sucesso!</p>
       <p>Logo que possível entraremos em contacto.</p>
      
      <div style="padding-top:15px;">
       <p>Muito Obrigado!</p>
       </div>

       
      </div>
      <div class="modal-footer">
      
        <img src="/img/logoConceptsblack.jpg" width="117px;" height="52px">
        <button id="closeModal" type="button" class="btn btn-primary" style="background-color:black; color:#FFA104;">Close</button>
        
        
      
      </div>
    </div>
  </div>
</div>










