
<div class=" row" style="padding-bottom:2%">

<div class="col-md-6">
	
	<h2 class="col-sm-offset-1">Editar Visita:</h2>
</div>



</div>





<div>
<%= render 'form' %>
</div>

<div class="col-sm-offset-1" >
<%= link_to 'Voltar', visita_path  %>
</div>
